#root,
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}
.App {
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/background.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card {
  background-color: whitesmoke;
  width: 50%;
  height: 30%;
  display: flex;
  text-align: left;

  flex-direction: column;
  border-radius: 10px;
  padding: 3%;
}
.card input {
  width: 45%;
  padding: 5px;
  border-radius: 5px;
}
@media only screen and (max-width: 1000px) {
  .card {
    width: 70%;
    height: 30%;
  }
}
@media only screen and (max-width: 650px) {
  .card {
    width: 80%;
    height: 35%;
  }
}
